@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    color: #fff;
    background-color: #223;
    margin: 0;
    width: 100%;
}

a {
    color: wheat;
}
a:hover {
    color: tomato;
}

input, textarea, select {
    border: none;
    font-size: 1.2em;
}